/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
svg {
  display: block;
  margin: auto;
  background-color: #B8C7D1;
}

.gameboard {
  background-color: #D1C2B8;
}
